/* Universal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Color Palaette */
:root {
    --yellow-flower: #F2D44A;
    --cactus-red: #E61212;
    --cactus-green: #2D4330;
    --charcoal: #0E0C07;
    --warm-grey: #928C85;
    --stone-grey: #656462;
}

/* Locally hosted fonts */
@font-face {
    font-family: 'Irish Grover';
    src: url('/assets/fonts/IrishGrover-Regular.woff2') format('woff2'),
         url('/assets/fonts/IrishGrover-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eater';
    src: url('/assets/fonts/Eater-Regular.woff2') format('woff2'),
         url('/assets/fonts/Eater-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}