body {
    background: linear-gradient(180deg, #a105d8, #ff9416);
}

main h1 {
    color: #ffffff;
    text-align: center;
    padding: 40px;
    font-family: 'Irish Grover', Times, serif;
    font-size: 4rem;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
    padding: 50px;
}

.portfolio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 10px #ffffff;
    max-width: 500px;
    text-align: center;
}
  
.portfolio-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.portfolio-card p {
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
}

.portfolio-button {
    background-color: #ffffff;
    color: #a105d8;
    border: 1px solid #000000;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    border-radius: 15px;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 2px 2px #000000;
    cursor: pointer;
    margin: 0.5em 1em;
}

.portfolio-button:hover {
    background-color: #a105d8;
    color: #ffffff;
    border: 1px solid #ff9416;
    transition: 0.3s;
}
  
/* Responsive styling */
@media (max-width: 768px) {
    .portfolio-container {
      flex-direction: column;
      align-items: center;
    }
}

@media (max-width: 435px) {
    main h1 {
        padding: 20px;
        font-size: 3.5rem;
    }

    .portfolio-container {
        gap: 80px;
        padding: 40px;
    }
}