*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url(assets/images/jd-hero-background.webp);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.logo {
    position: absolute;
    top: 15vh;
    left: 8vw;
    max-width: 15vw;
    max-height: 15vh;
}

.cloud {
    position: absolute;
    top: -5vh;
    left: 40%;
    transform: translateX(-50%);
    width: 20vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cloud-img {
    width: 90%;
    height: auto;
}

.lightning-bolt {
    position: absolute;
    width: 12vw;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cloud:hover .lightning-bolt {
    opacity: 1;
}

@media screen and (max-width: 500px) {
    .hero {
      background-image: url(assets/images/jon-portfolio-mobile-background.webp);
      width: 100%;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
}