*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url(assets/images/jd-hero-background.webp);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.logo {
    position: absolute;
    top: 15%;
    left: 8%;
    width: auto;
    height: auto;
    max-width: 120px;
    max-height: 120px;
}

.cloud {
    position: absolute;
    top: 10px;
    right: 0.05%;
    transform: translateX(-50%);
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cloud-img {
    width: 100%;
    height: auto;
}

.lightning-bolt {
    position: absolute;
    width: 100px;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.cloud:hover .lightning-bolt {
    opacity: 1;
}